
.modal-header h1 {
    font-size: 40px;
    color: #e92f48;
  }
  
  .t-modal .modal-content {
    background: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.38);
    border-radius: 10px;
    padding: 10px 35px;
  }
  
  .t-modal .modal-header {
    border-bottom: none;
    padding-top: 25px;
  }
  
  .t-modal .modal-header div .btn-close {
    position: absolute !important;
    top: 40px;
    right: 40px;
  }
  
  .t-modal .modal-footer .btn:focus,
  .btn-primary:focus,
  .btn-secondary:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }
  
  .t-modal .modal-footer .btn-primary:hover {
    transition: 0.25s;
    transform: scale(1.03);
  }
  
  .t-modal .modal-footer .btn-primary {
    background-color: #e92f48;
    border: none;
    padding: 10px;
  }
  
  .t-modal .modal-header div .btn-close:focus {
    outline: none;
    box-shadow: none;
  }
  
  .t-modal .modal-header .modal-title {
    font-weight: 700;
    font-size: 26px !important;
    color: #e92f48;
  }
  
  .t-modal .modal-footer {
    border-top: none;
  }
  
  /* MODAL DELET */
  .modal-delet {
    text-align: center;
  }
  .modal-delet > span {
    color: #dc3545;
    font-size: 80px;
    margin: 10px auto;
  }
  

  
  #form-editar button {
    background-color: #e92f48;
    border-radius: 5px;
    border: none;
    color: #fff;
    padding: 15px;
    font-size: 1.2rem;
  }
  
  
  .labelSpace label{
    padding-left: 23px;
}

.produto_img{
    border: rgba(156, 156, 156, 0.185) 0.5px solid;
    width: 250px;
}