@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;	

}

.container-caixa {
  border-radius: 10px;
  background: #222222;
  padding: 20px 5px;
  margin-bottom: 30px;
  color: #fff;
}
.container-caixa .caixa-title {
  text-align: center;
}

.list-inline {
  list-style: none;
}
.list-inline li {
  font-weight: 600;
  font-size: 40px;
}

.caixa-title{
  text-transform: uppercase;
  font-size: 20px;
  font-weight: medium;
}



.grafico{
  margin-top: 20px;
  background: white;

}

#chartdiv1 {
  width: 100%;
  height: 500px;
}


#chartdiv {
  width: 100%;
  height: 500px;
}


h2{
  text-transform: uppercase;
}



/* SECTIONS */
.alert{
  width: 100%;
}

.cards-intro {
  margin-top: 20px;
}

.titulo::after {
  content: "";
  display: flex;
  justify-content: left;
  width: 100%;
  height: 0.3rem;
  background: linear-gradient(90.12deg,rgba(255, 196, 0, 0.79) 2.71%, #DAA900  101.03%);
  margin: 0;
  margin-top: 10px;
  border-radius: 10px;
}

.container {
  display: flex;
}
.btn.active, .btn.active:focus, .btn.focus, .btn:active, .btn:active:focus, .btn:focus, .btn:hover {
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 10%);
  background: #000000;

}

.container .card-body {
  background: #2b1f1f;
  width: 15vw;
  height: 15vw;
  border-radius: 5px;
}

.container .card-body:hover {
  transition: 0.3s;
  background: #000000;
  transform: scale(1.03); 

}


.container .card-title,
.container .card-text {
  text-align: center;
  color: #fff;

}

.t p{
  margin: 0;

}

.container .card-title {
  padding: 0;
  font-weight: bold;
  font-size: 40px;
}

.container .card-text {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: medium;
}

.container .card-icon {
  color: white;
  font-size: 60px;
}

/*CARDS estoque*/
.cx-avisos {


}

.alert {
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  border: #341959 1px solid;
}


@media screen and (max-width: 950px) {


  .container {
    width: 100%;

    margin-bottom: 20px;
  }

  .container .card-body {
    height: 100%;

  }



}